header.header
	.header__container._container 
		.header__body 

			a(href="#").header__box

			a.header__logo(href="#") Первомайская

			nav.header__menu 
				ul.menu-header__list 
					li.menu-header__item
						a.menu-header__link.active(href="#") О комплексе
					li.menu-header__item
						a.menu-header__link(href="#") Особенности
					li.menu-header__item
						a.menu-header__link(href="#") Пентхаусы
					li.menu-header__item
						a.menu-header__link(href="#") Выбрать квартиру

			a.header__contacts(href="tel:88888888888") 8 888 888 88 88

			.header__burger
					span
