main.main
	section.section__menu
		.menu-section__body
			ul.menu-section__list#menuSectionList

	.contents
		.content
			.content__body 
				ul.content__list#contentList
				
				.content__steps#contentSteps

		.illustration#illustration